<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63965138386-4s7k5e86mls57rhcvnt6gv72u4d4gora.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63965138386-4s7k5e86mls57rhcvnt6gv72u4d4gora</string>
	<key>API_KEY</key>
	<string>AIzaSyAOVx4pPWGvKdY67WzJVy6kBX-V8Ti4C6o</string>
	<key>GCM_SENDER_ID</key>
	<string>63965138386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hydroponics.hydroponicsStore</string>
	<key>PROJECT_ID</key>
	<string>hydroponic-store</string>
	<key>STORAGE_BUCKET</key>
	<string>hydroponic-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63965138386:ios:933704173d01566cd84c0b</string>
</dict>
</plist>